.Weather {
  font-family: "Work Sans", sans-serif;
  border: 1px solid #6583fe;
  padding: 16px;
  border-radius: 4px;
  color: #6583fe;
}

.Weather h1 {
  font-size: 45px;
  font-weight: 300;
  margin: 20px 0 0 0;
  line-height: 29px;
  color: #2626bc;
}

.Weather ul {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  color: #6583fe;
}

.Weather .temperature {
  font-weight: 200;
  color: #2626bc;
  font-size: 80px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  color: #2626bc;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
